.chatt{
  flex: 2;
  width: 950px;
  /* display: flex;
  justify-content: center; */
  /* border: 1px solid #a8a8a8; */
  border-left: 1px solid #a8a8a8;
  border-right: 1px solid #a8a8a8;
  margin-left: 1rem;
}